header{
    background-color: #f6f8f9;
}
.logo{
    font-size: 50px;
	color: #FA6980;
	display: inline-block;
	vertical-align: middle;
	margin-right: 70px;

}
nav {
	display: inline-block;
		vertical-align: middle;

}

li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
}

li a {
	font-size: 24px;
	color: black;
}


